body {
  margin: 20px;
  padding: 20px;
  background-color: #E5E7EB;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.links {
  display: flex;
  gap: 20px;
}

.header a img {

  width: 90px;
  border-radius: 50px;
}
}